html,
body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: plum;
}

h1{
    font-size: 70px;
    color: rebeccapurple;
}

h2{
    font-size: 36px;
    color: rgb(31, 218, 193)
}

p{
    font-size: 13px;
    color: black;
    line-height: 2;
}

img {
    max-wdith: 100%;
}